#buttonTime {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#answerBox {
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 50px;
    border: 10px solid #ccc;
    border-radius: 50px;
}

#secretMessage {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

#hiddenButto {
    background-color: rgb(127, 127, 135);
    color: white;
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#closeButton {
    background-color: rgb(127, 127, 135);
    color: white;
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 0.1s ease;
}
/* this transition tag is supposed to make the runaway button move smoother
/* Im gonna make this button a runway button since it doesnt close the website. Ive gotta set its position to absotlute here in css. THIS IS ALL PAST THE DUE DATE i just wanna see