#buttonTime {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#answerBox {
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 50px;
    border: 10px solid #ccc;
    border-radius: 50px;
}

#secretMessage {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

#hideThedateButton {
    background-color: rgb(127, 127, 135);
    color: white;
    font-size: 10px;
    padding: 9px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}